body{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

#main-heading{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: green;
}

.themeBtn{
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    background: linear-gradient(darkgreen, lightgreen);
    color: white;
    border: 3px solid green;
}

#lightBtn:hover{
    background: white;
    color: black;
    cursor: pointer;
}

#darkBtn:hover{
    background: black;
    color: white;
    cursor: pointer;
}

#main-form{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container{
    margin-bottom: 10px;
}

#searchBox{
    padding: 5px 0px;
    margin-left: 20px;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    width: 30%;
    height: 1.5rem;
}

#filterDropdown{
    height: 2rem;
}

#inputBox{
    padding: 5px 0px;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    width: 50%;
    height: 1.5rem;
}

#inputBtn{
    height: 35px;
    font-size: 13px;
    color: white;
    background: linear-gradient(darkgreen, lightgreen);
    border: 3px solid green;
}

#inputBtn:hover{
    background: linear-gradient(lightgreen, darkgreen);
    cursor: pointer;
}

#list-container{
    min-width: 80%;
    margin: 0 auto;
}

#list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-list{
    list-style: none;
    min-width: 30%;
}

.todoDiv{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.todoItem{
    flex: 1;
}

.completedBtn, .trashBtn{
    margin-right: 10px;
    padding: 10px;
    color: white;
    border-style: none;
}

.fa-trash,
.fa-check{
    pointer-events:none;
}

.completedBtn{
    margin-left: 10px;
    background: green;
}

.completedBtn:hover{
    cursor: pointer;
}

.trashBtn{
    background: darkred;
}

.trashBtn:hover{
    cursor: pointer;
}

.completed{
    text-decoration-line: line-through;
    opacity: 0.5;
}

#labelText{
    font-weight: bold;
}